@page "/Hjem"
    <html>
    <body>
        <img src="swag.png" width="124" height="124" style="float:right">

        <h3>Velkommen til Grønfest crew siden!</h3>
        <h4>Her kan du holde dig opdateret om dine vagter, hvilket hold du er på og se opdateringer fra arrangørerne.</h4>
    </body>
</html>
@code { }
