@page "/index"

<div class="logger">
    <input type="text" id="login" class="logger" name="email" placeholder="login">
    <input type="text" id="password" class="logger" name="password" placeholder="password">
    <input type="submit" class="logger" value="Log In">
</div>