@page "/Kalender"
@using Festival.Shared
@inject HttpClient Http

    <html>
    <body>
        <img src="swag.png" width="124" height="124" style="float:right">
        <div class="sidenav">
            <div class="login-main-text">
                <h1>kalender</h1>
               
            </div>
        </div>
    </body>
    </html>