@page "/koordinator"
@inject NavigationManager nav
@inject HttpClient Http
@layout LoginLayout
<html>
<body>
    <img src="swag.png" width="124" height="124" style="float:right">

    <div class="login">
        <label>HoldId</label>
        <input type="text" id="navn" class="login" name="holdId"  @bind="holdId">
        <label>Password</label>
        <input type="text" id="email" class="login" name="password"  @bind="password">
        <label>Adgangsniveau</label>
        <input type="text" id="tlf" class="login" name="powerlvl"  @bind="powerlvl">
        <input type="submit" class="registrering" value="Opret bruger" @onclick="opretbruger">
    </div>
</body>
</html>

@code{
    private int holdId;
    private string password;
    private int powerlvl;


    public async Task opretbruger()
    {

        await Http.GetFromJsonAsync<int>($"koordinator/{holdId}/{powerlvl}/{password}");

    }
}