@page "/ko"
@using Festival.Shared.Models;
@inject NavigationManager nav
@inject HttpClient Http
@layout LoginLayout
<html>
<body>
    <img src="swag.png" width="124" height="124" style="float:right">

    <div class="login">
        <label>HoldId</label>
        <input type="text" id="navn" class="login" name="holdId"  @bind="b.holdId">
        <label>Password</label>
        <input type="text" id="email" class="login" name="password"  @bind="b.password">
        <label>Adgangsniveau</label>
        <input type="text" id="tlf" class="login" name="powerlvl"  @bind="b.powerlvl">
        <input type="submit" class="registrering" value="Opret bruger" @onclick="opretfrivillig">
    </div>
</body>
</html>

@code{
    private Bruger b = new();


    public async Task opretfrivillig()
    {

        await Http.PostAsJsonAsync($"koordinatorOpretBruger", b);

    }
}