@page "/"
@layout LoginLayout
@using Festival.Shared.Models
@inject NavigationManager nav
@inject HttpClient Http

    <html>
    <body>
        <img src="swag.png" width="124" height="124" style="float:right">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <div class="sidenav">
            <div class="login-main-text">
                <h2>Grønfest Login</h2>
                <p>Login eller register dig</p>
            </div>
        </div>
        <div class="main">
            <div class="col-md-6 col-sm-12">
                <div class="login-form">

                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control" placeholder="" @bind="email">
                    </div>
                    <div class="form-group">
                        <label>Adgangskode</label>
                        <input type="password" class="form-control" placeholder="" @bind="password">
                    </div>
                    <button type="submit" @onclick="logincheck" class="btn btn-black">Login</button>
                    <button type="submit" @onclick="opret" class="btn btn-secondary">Register</button>

                </div>
            </div>
        </div>
    </body>
</html>

    @code{ public int niveau = 0;

        public string text = "error";

        public string email;

        public string password;

        public string textbox()
        {
            return text;

        }
        public void opret()
        {
            nav.NavigateTo("/opret");
        }

        public async Task logincheck()
        {

            niveau = await Http.GetFromJsonAsync<int>($"login/{email}/{password}");

            if (niveau == 1)
            {
                nav.NavigateTo("/vagtplan");
            }
            if (niveau == 2)
            {
                nav.NavigateTo("/counter");
            }
            if (niveau == 3)
            {
                nav.NavigateTo("/kalender");
            }
            else
            {
                textbox();
            }
        } }

