@page "/"
@layout LoginLayout
@using Festival.Shared.Models
@inject NavigationManager nav
@inject HttpClient Http

<div class="logger">
    <input type="text" id="login" class="logger" name="email" placeholder="login" @bind="email">
    <input type="text" id="password" class="logger" name="password" placeholder="password" @bind="password">
    <input type="submit" class="logger" value="Log In" @onclick="loggin">
    <p> @message</p>
</div>


@code{


    public int niveau = 0;

    public string message;

    public string email;

    public string password;


    public async Task loggin()
    {
        niveau = await Http.GetFromJsonAsync<int>($"login/{email}/{password}");

        if (niveau == 1)
        {
            nav.NavigateTo("/vagtplan");
        }
        if (niveau == 2)
        {
            nav.NavigateTo("/counter");
        }
        if (niveau == 3)
        {
            nav.NavigateTo("/kalender");
        }
        
    }
}

