@page "/"
@layout LoginLayout
@using Festival.Shared.Models
@inject NavigationManager nav
@inject HttpClient Http

<div class="login">
    <input type="text" id="login" class="login" name="email" placeholder="login" @bind="email">
    <input type="text" id="password" class="login" name="password" placeholder="password" @bind="password">
    <input type="submit" class="login" value="Log In" @onclick="logincheck">
</div>

<div class="registrering">
    <input type="submit" class="registrering" value="Opret bruger" @onclick="opret">
</div>

@code{

    public int niveau = 0;

    public string text = "error";

    public string email;

    public string password;

    public string textbox()
    {
        return text;

    }
    public void opret()
    {
        nav.NavigateTo("/opret");
    }

    public async Task logincheck()
    {

        niveau = await Http.GetFromJsonAsync<int>($"login/{email}/{password}");

        if (niveau == 1)
        {
            nav.NavigateTo("/vagtplan");
        }
        if (niveau == 2)
        {
            nav.NavigateTo("/counter");
        }
        if (niveau == 3)
        {
            nav.NavigateTo("/kalender");
        }
        else
        {
            textbox();
        }
    }
}

