@page "/opret"
@inject NavigationManager nav
@inject HttpClient Http
@layout LoginLayout
@using Festival.Shared.Models
<html>
<body>
    <div>
        <img src="swag.png" width="124" height="124" style="float:right">
    </div>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <h1 style="padding:30px">Bruger Oprettelse</h1>

    <div class="form-group" style="padding:30px">
        <label>Navn</label>
        <input type="text" id="navn" class="form-control" style="width:30%" name="navn" placeholder="-" @bind="b.navn">
        <label>Email</label>
        <input type="text" id="email" class="form-control" style="width:30%" name="email" placeholder="-" @bind="b.email">
        <label>telefonnummer</label>
        <input type="text" id="tlf" class="form-control" style="width:30%" name="telefonnummer" placeholder="-" @bind="b.tlf">
        <label>Password</label>
        <input type="text" id="password" class="form-control" style="width:30%" name="password" placeholder="-" @bind="b.password">
        <label>kompetencer</label
        <p>List kort nogle kompetencer der kunne være relevante.</p>
        <input type="text" id="kompetencer" class="form-control" style="width:30%" name="kompetencer" placeholder="-" @bind="b.kompetencer">
        <br>
        <input type="submit" class="btn btn-primary" value="Opret /opdater bruger" @onclick="opretbruger">
        <input type="submit" class="btn btn-secondary" value="Tilbage" @onclick="hjem">
    </div>
</body>
</html>


@code{
    private Bruger b = new();

    public void hjem()
    {
        nav.NavigateTo("/hjem");
    }


    public async Task opretbruger()
    {

        await Http.PostAsJsonAsync($"OpretBruger", b);

        nav.NavigateTo("/vagtplan");

    }
}