@page "/opret"
@inject NavigationManager nav
@inject HttpClient Http
@layout LoginLayout
<html>
<body>
    <img src="swag.png" width="124" height="124" style="float:right">

    <div class="login">
        <input type="text" id="navn" class="login" name="navn" placeholder="navn" @bind="navn">
        <input type="text" id="email" class="login" name="email" placeholder="email" @bind="email">
        <input type="text" id="tlf" class="login" name="telefonnummer" placeholder="telefonnummer" @bind="tlf">
        <input type="text" id="password" class="login" name="password" placeholder="password" @bind="password">
        <input type="text" id="adgangsID" class="login" name="adgangsID" placeholder="adgangsID" @bind="adgangsID">
        <input type="submit" class="registrering" value="Opret bruger" @onclick="opretbruger">
    </div>
</body>
</html>

@code{
    private string email;
    private string password;
    private string navn;
    private string tlf;
    private string adgangsID;


    private int adgang = 0;

    public async Task opretbruger()
    {

        adgang = await Http.GetFromJsonAsync<int>($"opretbruger/{email}/{password}");

        if (adgang == 1)
        {
            nav.NavigateTo("/vagtplan");
        }

    }

}