@page "/vagtplan"
@using Festival.Shared.Models
@inject HttpClient Http
@inject NavigationManager nav


<html>
<body>

    <img src="swag.png" width="124" height="124" style="float:right">

    <h1>Vagtplan</h1>



    @if (vagterne == null)
    {
        <p><em>Loading...</em></p>}
    else
    {
        <div class="tab">
            <button class="tablinks" onclick="@clik()">Mandag</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
        </div>

        <div id="Mandag" class="tabcontent">
            <h3>Mandag</h3>
            <p>@clik()</p>
        </div>
    }
    



</body>
</html>

@code {

    public void chooser()
    {
        if (vischooser > 0)
        {
            show();
        }
    }

    public int vischooser = 0;

    public int clik()
    {
        return (vischooser = vischooser + 1);
    }

    public object show()
    {
        return vagterne.First();
    }


    public Vagter[] vagterne;

    protected override async Task OnInitializedAsync()
    {
        vagterne = await Http.GetFromJsonAsync<Vagter[]>("Vagter");
    }

}
