@page "/vagtplan"
@using Festival.Shared.Models
@inject HttpClient Http
<html>

<body>

    <img src="swag.png" width="124" height="124" style="float:right">
    
    <h1>Vagtplan</h1>

    @if (vagterne == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Mandag</th>
                    <th>Tirsdag</th>
                    <th>Onsdag</th>
                    <th>Torsdag</th>
                    <th>Fredag</th>
                    <th>Lørdag</th>
                    <th>Søndag</th>
                </tr>


            </thead>
            <tbody>
                <tr>

                    @foreach (var vagter in vagterne)
                    {
                        {
                            <td style="padding: 10px; border: 3px solid ">
                                <p>Starttid:</p>
                                @vagter.starttidspunkt<br />
                                <br />

                                <p>Sluttid:</p>
                                @vagter.sluttidspunkt<br />
                                <br />

                                <p>Arbejdsopgave:</p>
                                @vagter.beskrivelse<br />
                                <br />

                                <p>Antal frivillige:</p>
                                @vagter.kap<br />
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    }
</body>
</html>

@code {
    public Bruger[] brugere;
    public Vagter[] vagterne;
    public Roller[] rollerne;
    public Frivillige[] defrivillige;
    public Koordinator[] koordinators;
    public Hold[] holdene;

    @*public string mandag = "mandag";

        public void show(List<Vagter> text)
        {
            foreach (var vagt in vagterne)
            {
                    <td style="padding: 10px; border: 3px solid ">
                        vagt.dag<br />
                        vagt.starttidspunkt<br />
                        vagt.sluttidspunkt<br />
                    </td>
            }
        }
        public void liste()
        {
            show(vagterne.ToList());
        }

        public void dag()
        {
            foreach (var vagt in vagterne)
            {
                if (vagt.dag == mandag)
                {
                    show(vagterne.ToList());
                }
            }
        }*@

    @*public async Task fedliste()
        {
          foreach (var vagter in vagterne)
            {

        <tr>

        <td style="padding: 10px; border: 3px solid ">
            vagter.beskrivelse<br />
            vagter.starttidspunkt<br />
            vagter.sluttidspunkt<br />
            vagter.kap<br />
            vagter.ledig<br />
        </td>


        </tr>

            }
        }*@

protected override async Task OnInitializedAsync()
{
    vagterne = await Http.GetFromJsonAsync<Vagter[]>("Vagter");
}

}
