@page "/Hjem"
    <html>
    <body>

        <h3>Velkommen til Grønfest crew siden!</h3>
        <h4>Her kan du holde dig opdateret om dine vagter, hvilket hold du er på og se opdateringer fra arrangørerne.</h4>
        <br />
        <img src="grønfest.jpeg" width="700" height="500">


    </body>
</html>
@code { }
